@model YourNewTaxi.Domain.Entities.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
     Your order are accepted: <br />
        Your start address is @Model.AddressStart <br />
        Your start address is @Model.AddressFinish <br / >

        @Html.ActionLink("Return back", "Index")
    </div>
</body>
</html>