@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Кабинет водителя</title>
</head>
<body>
    <div>
        <h2>Вы находитесь в личном кабинете водителя</h2>
        <h2>Чтобы посмотреть все заказы, нажмите <a href="../showorders">ЗДЕСЬ</a></h2>
        <h2>Чтобы посмотреть ваши выполненные, нажмите <a href="../showmyorders">ЗДЕСЬ</a></h2>

    </div>
</body>
</html>
